@import "tailwindcss";
@theme {

}

@layer  base {
    :root {
        --color-bg: #ffffff;
        --color-text: #111827;
        --color-primary: #1377EB;
    }
    .dark {
        --color-bg: #111827;
        --color-text: #f3f4f6;
        --color-primary: #3b82f6;
    }
}

@layer  components {

}

@layer  utilities  {

}
