apscheduler==3.11.2
asgiref==3.11.1
async_timeout==5.0.1
Babel==2.18.0
Beaker==1.13.0
brotli==1.2.0
brotlicffi==1.2.0.1
celery==5.6.3
chardet==7.4.3
colorlog==6.10.1
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==48.0.0
cx_Oracle==8.3.0
cython==3.2.4
Django==6.0.5
docutils==0.22.4
dogpile.core==0.4.1
elasticsearch==9.4.0
email_validator==2.3.0
eval_type_backport==0.3.1
fastapi==0.136.1
filelock==3.29.0
flask_cors==6.0.2
flask_swagger_ui==5.32.6
gevent==26.4.0
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.152.9
importlib_metadata==8.7.1
ipython==9.13.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
langchain_core==1.4.0
langchain_openai==1.2.1
lingua==4.16.2
nacl==0.0.0
numpy==2.4.6
objgraph==3.6.2
pgvector==0.4.2
protobuf==7.35.0
psutil==7.2.2
pybreaker==1.4.1
PyJWT==2.12.1
pymilvus==3.0.0
pyodide==0.0.2
pyOpenSSL==26.2.0
pysqlcipher3==1.2.0
pytest==9.0.3
python-dotenv==1.2.2
simplejson==4.1.1
Sphinx==9.1.0
sqlcipher3==0.6.2
thread==2.0.6
toml==0.10.2
urllib3_secure_extra==0.1.0
uvicorn==0.47.0
watchdog==6.0.0
xmlrpclib==1.0.1
xxhash==3.7.0
celery==5.6.3
flower==2.0.1
